<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="template :: header"></div>
    <title>Reactions</title>
</head>

<body>
    <div th:insert="template :: navbar"></div>
    <div class="container">
        <h1>Reactions</h1>
        <div class="row col-md-12">
            <div class="reaction-list">
                <table id="reactionTable" class="table">
                    <thead>
                        <tr>
                            <th>Reaction ID</th>
                            <th>Type</th>
                            <th>Timestamp</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="reaction, rowStat: ${reactions}" th:style="${rowStat.even} ? 'background-color: #f5f5f5;' : 'background-color: #ffffff;'">
                            <td th:text="${reaction.id}">Reaction ID</td>
                            <td th:text="${reaction.type}">Type</td>
                            <td th:text="${reaction.timestamp}">Timestamp</td>
                            <td th:text="${reaction.User.username}">User</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="template :: scriptFrag"></div>
</body>
</html>
