<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${post}" th:text="${'Post Details - ' + post.title}">Post Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/mainCss.css">
</head>

<body>
    <div th:insert="template :: navbar"></div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <form class="form-inline">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account Name</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h1 th:if="${post}" th:text="${post.title}">Post Title</h1>
        <p th:if="${post}" th:text="${'Posted by ' + post.user.username + ' on ' + #dates.format(post.date, 'yyyy-MM-dd HH:mm')}">Post Information</p>
        <p th:if="${post}" th:text="${post.text}">Post Text</p>
        <p th:if="${post}" th:text="${'Likes: ' + post.likes + ' Dislikes: ' + post.dislikes}">Likes and Dislikes</p>


    <!-- Comment button and form -->
    <form th:action="@{'/community/posts/' + ${post.id} + '/comments'}" method="get" style="display: inline;">
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>

    <!-- Like and Dislike buttons -->
    <button onclick="likePost()" class="btn btn-success" style="display: inline; margin-left: 5px;">Like</button>
    <button onclick="dislikePost()" class="btn btn-danger" style="display: inline; margin-left: 5px;">Dislike</button>

    <p th:if="${post}" th:text="${'Likes: ' + post.likes + ' Dislikes: ' + post.dislikes}" style="display: inline-block; margin-left: 10px;">Likes and Dislikes</p>

    <hr>
        
        <div th:if="${comments}">
            <div th:each="comment : ${comments}">
                <p th:text="${'Comment by ' + comment.user.username + ' on ' + #dates.format(comment.date, 'yyyy-MM-dd HH:mm')}">Comment Information</p>
                <p th:text="${comment.text}">Comment Text</p>
                <p th:text="${'Likes: ' + comment.likes + ' Dislikes: ' + comment.dislikes}">Likes and Dislikes</p>
                <!-- Like and Dislike buttons for each comment -->
                <button onclick="likeComment(${comment.id})" class="btn btn-success btn-sm">Like</button>
            	<button onclick="dislikeComment(${comment.id})" class="btn btn-danger btn-sm">Dislike</button>

                <hr>
            </div>
        </div>
    </div>
    <div th:replace="template :: scriptFrag"></div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Add your custom scripts here if needed -->

    <!-- JavaScript functions for handling likes and dislikes -->
    <script>
        function likePost() {
            // Implement the logic to increase the likes for the post
        }

        function dislikePost() {
            // Implement the logic to increase the dislikes for the post
        }

        function likeComment(commentId) {
            // Implement the logic to increase the likes for the specific comment
        }

        function dislikeComment(commentId) {
            // Implement the logic to increase the dislikes for the specific comment
        }
    </script>
</body>
</html>
